<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger.%M\(%line\) %X{REQ_ID} %X{ID_USER}  - %msg%n</pattern>
        </encoder>
    </appender>
     
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/app/logs/app-form.log</file>
        <encoder>
            <pattern>%d %-5level %logger.%M\(%line\) %X{REQ_ID} %X{ID_USER} - %msg%n</pattern>
        </encoder>
         
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/app/logs/app-form-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
     
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="RollingFile"/>
    </root>
</configuration>